.beneficios {
    background-color: $secondary-color;
    padding: 4rem 0;
  
    h2 {
      text-align: center;
      color: $primary-color;
      font-size: 2rem;
      margin-bottom: 2rem;
    }
  
    ul {
      list-style: none;
      padding: 0;
  
      li {
        font-size: 1.2rem;
        margin-bottom: 1rem;
        position: relative;
        padding-left: 2rem;
        color: $text-color;
  
        &::before {
          content: '✔';
          position: absolute;
          left: 0;
          top: 0.2rem;
          color: $primary-color;
          font-size: 1.5rem;
        }
      }
    }
  }
  