.tipos {
    background-color: #f8f9fa;
    padding: 4rem 0;
  
    h2 {
      font-size: 2rem;
      font-weight: bold;
      color: #007bff;
      margin-bottom: 2rem;
    }
  
    .card {
      border: none;
      background: #fff;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      transition: transform 0.3s, box-shadow 0.3s;
  
      &:hover {
        transform: translateY(-5px);
        box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
      }
  
      .card-img-top {
        width: 100px;
        height: 100px;
        object-fit: cover;
        border-radius: 50%;
        margin-bottom: 1rem;
      }
  
      .card-title {
        font-size: 1.25rem;
        color: #007bff;
        margin-bottom: 0.5rem;
      }
  
      .card-text {
        font-size: 1rem;
        color: #6c757d;
      }
    }
  }
  